{% extends '_blank.html' %}

{% block content %}
<table class="ui celled striped table" id="book-list">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Copies left</th>
            <th>Edition</th>
            <th>ISBN</th>
            <th>Year</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<h2>Add a book</h2>
<form method="POST" class="ui large form" id="book-form">
    <div class="ui stacked secondary segment">
        <div class="field">
            <div class="ui left icon input">
                <!-- <i class="user icon"></i> -->
                <input type="text" name="title" required placeholder="Book title" />
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <!-- <i class="user icon"></i> -->
                <input type="text" name="edition" required 
                    placeholder="Book edition" />
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <!-- <i class="user icon"></i> -->
                <input type="text" name="isbn" required 
                    placeholder="ISBN" />
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <!-- <i class="user icon"></i> -->
                <input type="text" name="year" 
                    placeholder="Year of publishing" />
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <!-- <i class="user icon"></i> -->
                <input type="text" name="pages" required 
                    placeholder="Number of pages" />
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <!-- <i class="user icon"></i> -->
                <input type="text" name="copies" required 
                    placeholder="Number of copies to add" />
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <!-- <i class="user icon"></i> -->
                <textarea type="text" name="description" required 
                    placeholder="Short description"></textarea>
            </div>
        </div>
        <div class="field">
            <div class="ui selection dropdown">
                <input name="author" type="hidden">
                <div class="default text">Select an author</div>
                <i class="dropdown icon"></i>
                <div class="menu" id="authors-list"></div>
            </div>
        </div>
        <br>
        <input class="ui blue large button" type="submit" required />
    </div>
    <div class="ui error message"></div>
</form>

<div class="ui modal" id="bookDetailsModal">
    <i class="close icon"></i>
    <div class="header">
        Book Details
    </div>
    <div class="content">
        <table class="ui selectable celled table" id="display-book-details">
            <tbody id="details"></tbody>
        </table>
        <div id="edit-book-details"></div>
    </div>
    <div class="actions">
        <div class="ui green ok positive button">OK</div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/book/book.js') }}"></script>
{% endblock %}
